*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("./../img/2560px-4k-desktop-background_0652268559.jpg");
    background-size: cover; 
    font-family: "Oswald";
}
header{
    background-color: #2F3B73;
    text-align: center;
    color: white;
}
header h1{
    padding: 25px 0;
}
input:hover{
    cursor: pointer;
}
img{
    width: 200px;
    height: 200px;
    margin: 5px;
    margin-top: 10px;
}
label{
    font-family: "Oswald";
    color: white; 
    font-weight: bold;
}
input[type="submit"] {
    width: 100%;
}
p{
    font-family: "Oswald";
    
}

input[type="text"]{
    background-color: #9BB1FF;
    box-shadow: 2px 2px;
    margin: 5px;    
}
input[type="text"]:hover{
    background-color: #9BB1FF;
    width: 20%;
    transition: 2s ease-out;
}

input[type="password"]{
    background-color:#9BB1FF;
    box-shadow: 2px 2px;
    margin: 5px;
}

input[type="password"]:hover{
    background-color: #9BB1FF;
    width: 20%;
    transition: 2s ease-out;
}
input[type="email"]{
    background-color:#9BB1FF;
    box-shadow: 2px 2px;
    margin: 5px;
}

input[type="password"]:hover{
    background-color: #9BB1FF;
    width: 20%;
    transition: 2s ease-out;
}

input[type="email"]:hover{
    background-color: #9BB1FF;
    width: 20%;
    transition: 2s ease-out;
}

legend{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

form{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 50%;
    background-color: #2F3B73;
    border: 2px solid black;
    position: absolute;
    top: 15%;
    left: 25%;
    padding: 10px;
    margin-bottom: 20px;
}

input[type="password"]::placeholder{
    color: black;
}

input[type="text"]::placeholder{
    color: black;
}

input[type="email"]::placeholder{
    color: black;
}

input{
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    padding: 5px;
    margin: 5px;  
    background-color: #9BB1FF;
}
